<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDb 로그인</title>
    <link rel="stylesheet" href="/css/auth/login.css">

</head>

<body>
<th:block page="../include/index_include/index_header.jsp"></th:block>
<div id="root">
    <div class="content_box">
        <div id="login_option">
            <div id="login_box">
                <h1>로그인</h1>
                <form id="login-form" th:action="@{/auth/login}" th:object="${loginRequest}" method="post">
                    <div>
                        <label for="username" style="display: none">Email</label>
                        <input type="text" id="username" class="item_ip" name="username" placeholder="Email">
                    </div>

                    <div>
                        <label for="password" style="display: none">Password</label>
                        <input type="password" id="password" class="item_ip" name="password" placeholder="Password">
                    </div>

                    <div th:if="${exc == 'wrongPassword'}" class="item_msg">
                            <span>
                            비밀번호가 일치하지 않습니다.
                            </span>
                    </div>

                    <div th:if="${exc == 'wrongId'}" class="item_msg">
                            <span>
                            존재하지 않는 이메일입니다.
                            </span>
                    </div>

                    <div th:if="${exc == 'loginError'}" class="item_msg">
                            <span>
                            로그인에 실패했습니다. 다시 확인하세요.
                            </span>
                    </div>

                    <div id="login_btns">
                        <div>
                            <button type="submit" class="item_btn btn_login">로그인</button>
                        </div>
                        <div>
                            <button type="button" onclick="location.href='/oauth2/authorization/google'"><a><i
                                    class="fab fa-google"></i> 구글 로그인</a></button>
                        </div>
                        <div>
                            <button type="button" onclick="location.href='/oauth2/authorization/facebook'"><a><i
                                    class="fab fa-facebook-square"></i> 페이스북 로그인</a></button>
                        </div>
                        <div>
                            <button type="button" onclick="location.href='/oauth2/authorization/naver'"><a> 네이버 로그인</a>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="hr-sect">
                    <span>&nbsp;or&nbsp;</span>
                </div>
                <div>
                    <button type="button" id="signup_btn" onclick="location.href = '/auth/signup'">회원가입</button>
                </div>
                <p class="text-center">
                    <small>로그인할 경우, 이용자는 IMDb의
                        <a href="https://www.imdb.com/conditions">이용조건</a>
                        과
                        <a href="https://www.imdb.com/privacy">개인정보 처리방침</a>
                        에 동의합니다
                    </small>
                </p>
            </div>
        </div>
        <div id="login_perks">
            <h1>IMDb에 가입하면...</h1>
            <p>
                <strong>개인화된 추천</strong><br>
                좋아하게 될 작품을 만날 수 있습니다
            </p>
            <p>
                <strong>좋아하는 영화</strong><br>
                보고싶은 영화를 상영할 때마다 이메일을 받아보세요
            </p>
            <p>
                <strong>별점</strong><br>
                이미 본 작품을 별점으로 평가하세요
            </p>
            <p>
                <strong>IMDb에게</strong><br>
                당신의 기록은 큰 도움이 됩니다
            </p>

        </div>
    </div>

</div>

</body>
</html>