<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDb 회원가입</title>
    <link rel="stylesheet" href="/css/auth/signup.css">


</head>
<body>
<form id="signup-form" th:action="@{/auth/signup}" th:object="${signupRequest}" method="post">
    <div id="logo_box">
        <h1 class="logo"><a href="/chart/top" style="color:black">IMDb</a></h1>
    </div>
    <div id="inner_box">
        <h1>Create account</h1>
        <div>
            <label>Email</label>
            <input type="text" class="item_ip" th:field="*{email}">
        </div>
        <div class="item_msg">
            <span th:if="${#fields.hasErrors()}" th:errors="*{email}"></span>
        </div>
        <div>
            <label>Password</label>
            <input type="password" class="item_ip" th:field="*{password}">
        </div>
        <div class="item_msg">
            <span th:if="${#fields.hasErrors()}" th:errors="*{password}"></span>
        </div>
        <div>
            <label>Re-enter password</label>
            <input type="password" class="item_ip" name="repassword">
        </div>
        <div class="item_msg">
            <span th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}"></span>
        </div>
        <div>
            <label>Nickname</label>
            <input type="text" class="item_ip" th:field="*{nickname}">
        </div>
        <div class="item_msg">
            <span th:if="${#fields.hasErrors()}" th:errors="*{nickname}"></span>
        </div>
        <div>
            <label>Your telephone (without "-")</label>
            <input type="tel" class="item_ip" th:field="*{telephone}">
        </div>
        <div class="item_msg">
            <span th:if="${#fields.hasErrors()}" th:errors="*{telephone}"></span>
        </div>
        <div>
            <label>Your role</label>
            <input type="text" th:name="role" class="item_ip" th:value="user" readonly>
        </div>


        <button id="signup-btn">IMDb 계정 만들기</button>

        <div id="inner_footer">계정을 가지고 계신가요?<a href="/auth/login">로그인</a></div>

    </div>
</form>

</body>

</html>